.message-list {
    border: solid 2px;
    width: 66%;
    height: 200px;
    float: left;
    margin: 5px 1%;
    padding: 2%;
}
.member-list {
    border: solid 1px;
    width: 20%;
    height: 200px;
    float: left;
    padding: 2%;
    margin: 5px 1%;

}
#chat-window{
    width: 530px;
}
.chat-form button{
    width: 22%;
    margin: 0 2%;
    height: 30px;
}
.chat-form input[name='chat-source'] {
    width: 66%;
    margin: 5px 2%;
}